/* code for mobile */

:root {
    --body-copy: 16px;
    --page-spacing: 24px;

    --background-color: white;

    --main-heading: calc(var(--body-copy) * 3);
    --sub-heading: calc(var(--body-copy) * 1.5);
  }

  /* Code for desktop */
  
  @media (min-width: 768px) {
    :root {
      --body-copy: 20px;
      --page-spacing: 48px;

      --background-color: rgb(255, 255, 255);
  
      --main-heading: calc(var(--body-copy) * 4);
      --sub-heading: calc(var(--body-copy) * 2);  
    }

  }

html, body {
    margin: 0;
    padding: 0;
  }
    

/* scrolling */

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-padding: 0px;
  }

  .section {
    width: 60%;
    height: 75vh;
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }

  /* nav */

  nav {
    display: flex;
    position: relative;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
  }

  nav a {
    line-height: 20px;
    height: 100%;
    display: inline-block;
    position: sticky;x
  }

  
  body {
    font-family: sans-serif;
    font-size: var(--body-copy);
    background-color: var(--background-color);
  }
  
  body > * {
    padding: var(--page-spacing);
  }
  
  h1 {
    font-size: var(--main-heading);
  }
  
  h2 {
    font-size: var(--sub-heading);
  }
  
  header,
  footer {
    background-color: gold;
  }
  
  header {
    display: flex;
    flex-direction: column;
    gap: calc(var(--page-spacing) * 2);
  }
  
  @media (min-width: 768px) {
    header {
      flex-direction: row;
      justify-content: space-between;
    }
  }