/* code for mobile */

  @media (min-width: 375px) {
    :root {
      --body-copy: 12px;
      --page-spacing: 12px;
  
      --background-color: white;
  
      --main-heading: calc(var(--body-copy) * 3);
      --sub-heading: calc(var(--body-copy) * 1.5);
    }
    
  }
  /* Code for desktop */
  
  @media (min-width: 768px) {
    :root {
      --body-copy: 20px;
      --page-spacing: 24px;

      --background-color: rgb(255, 255, 255);
  
      --main-heading: calc(var(--body-copy) * 4);
      --sub-heading: calc(var(--body-copy) * 2);  

      --margin-spacing: 10%
    }

  }
/* Typography */

@font-face {
	font-family: 'Allenoire';
	src: url('Allenoire Font.otf') format('opentype');
 }

 @font-face {
	font-family: 'Questrial';
	src: url('Questrial-Regular.otf') format('opentype');
 }
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');


html, body {
    margin: 0;
    padding: 0;
  }
    

/* scrolling */

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    width: 85vw;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--margin-spacing) * 0.2);
    scroll-padding: 0px;
  }

  .section {
    width: 60%;
    height: 75vh;
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
  }

  /* nav */

  nav {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    font-size: calc(var(--body-copy) * 0.65);
    margin-left: auto;
    margin-right: auto;
  }

  nav a {
    line-height: 20px;
    height: 50%;
    display: inline-block;
    position: sticky;x
    
  }

  /* viewport */

  .box-transparent {
    position: fixed;
    width: 80vw;
    background-color: none;
    border: 2px solid black;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%
    
}

  
  body {
    font-family: sans-serif;
    font-size: var(--body-copy);
    background-color: var(--background-color);
  }
  
  body > * {
    padding: var(--page-spacing);
  }
  
  h1 {
    font-size: calc(var(--main-heading) * 1.4);
    font-family: 'Allenoire';
    letter-spacing: 0.05em;
    margin-top: 5%;
    margin-bottom: 0;
  }
  
  h2 {
    font-size: var(--sub-heading);
    font-size: calc(var(--main-heading) * 1);
    font-family: 'Allenoire';
    margin-bottom: 0;
  }

  h3 {
    font-size: calc(var(--sub-heading) *0.6 );
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    letter-spacing: 0.2em;
  }

  p {
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    font-size: calc(var(--sub-heading) * 0.6);
  }
  
  header,
  footer {
    background-color: gold;
  }
  
  header {
    display: flex;
    flex-direction: column;
    gap: calc(var(--page-spacing) * 2);
  }

  /* 1st Box */

  .Title-box {
    border-left: 2px solid black;
    margin-top: calc(var(--page-spacing) * 2);
    margin-left: calc(var(--margin-spacing) * 1);
  }

  .paragraph-head {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: calc(var(--sub-heading) *0.45);
    letter-spacing: 0.1em;
    padding-left: calc(var(--page-spacing) * 3);
    padding-top: calc(var(--margin-spacing) * 0.3);
  }

  .sub-paragraph {
    text-transform: uppercase;
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    font-size: calc(var(--sub-heading) * 1.4);
    padding-left: calc(var(--page-spacing) * 3);
    padding-bottom: calc(var(--margin-spacing) * 0.3);
    width: 55vw;

  }

  /* 2nd Box */

  .Title-box-2 {
    border-left: 2px solid black;
    margin-top: calc(var(--page-spacing) * 2);
    margin-left: calc(var(--margin-spacing) * 1);
  }

  .Second-Box-Header {
    padding-left: calc(var(--page-spacing) * 3);
    padding-top: calc(var(--margin-spacing) * 0.1);
    padding-bottom: calc(var(--margin-spacing) * 0.2);
  }

  .Second-Box-Subheader {
    padding-left: calc(var(--page-spacing) * 3);
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    font-size: calc(var(--sub-heading) * 0.45);
    line-height: calc(var(--page-spacing) * 1.2);
  }

  .Second-Box-P {
    padding-left: calc(var(--page-spacing) * 3);
    font-family: 'Questrial', sans-serif;
    font-weight: 100;
    font-size: calc(var(--sub-heading) * 0.45);
    line-height: calc(var(--page-spacing) * 1.2);
    width: 65vw;
  }